@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
/* shared styles */
a:hover {
  color: #ff42a5;
  cursor: pointer;
}
button:hover{
    color: rgb(79, 79, 79);
    cursor: pointer;
}
.games:hover{
  border: 2px solid tomato;
  border-radius: 50px;
  color: rgb(255, 0, 255);
  cursor: pointer;
}




/* nav style start */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 6rem;
  height: 7rem;
  align-items: center;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo img {
  width: 5rem;
}
.nav-logo-h3 {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 2.5rem;
  font-weight: 700;
}
.g-style {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
}
.gray-style {
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
}
.follow-us-area {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.follow-us-area .fa-youtube {
  margin-left: 1.25rem;
  color: #f61c0d;
}
.follow-us-area .fa-tiktok {
  margin-left: 1rem;
}
/* nav end */

/* banner area  start*/
.banner-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6rem;
}

.banner-content {
  width: 50%;
  background-image: url('./images/Group 14.png');
}
.banner-h3 {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 600;
}
.banner-h2 {
  font-family: Work Sans;
  font-size: 6rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-paragraph {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
}


.pay-area,
.download-area,
.users-area {
  display: flex;
  gap: 10px;
}
.users-area .banner-paragraph {
  margin-left: -6px;
}
.sign-in {
  padding: 20px 40px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
}
.sign-up {
  padding: 20px 40px;
  border-radius: 48px;
  margin-left: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background: #4EC5F7;
  border: none;
}
.banner-image {
  width: 50%;
}
.banner-image img {
  width: 90%;
}

/* banner area end */
/* bonus part area start  */
/* bonus hover area star */
.bonus-image-1:hover + .play-button-div{
  display: block;
}
.bonus-image-1:hover{
  background-blend-mode: overlay;
}
.bonus-image-2:hover + .play-button-div{
  display: block;
}
.bonus-image-2:hover{
  background-blend-mode: overlay;
}
.bonus-image-3:hover + .play-button-div{
  display: block;
}
.bonus-image-3:hover{
  background-blend-mode: overlay;
}
.bonus-image-4:hover + .play-button-div{
  display: block;
}
.bonus-image-4:hover{
  background-blend-mode: overlay;
}
/* bonus hover area end */

.bonus-h1{
color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 700;
margin-top: 100px;
margin-bottom: 15px;
}
.bonus-text-style{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.bonus-heading-description{
color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 40px;
}
.bonus-area{
  display: flex;
  justify-content: center;
  margin: 10px 95px;
  gap: 20px;
}
.bonus-image-part{
  height: 80vh;
  width: 25%;
}
.bonus-image-1{
  width: 100%;
  border-radius: 15px;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./images/Rectangle 4.png'),linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
  margin-bottom: 1rem;
}
.bonus-image-2{
  width: 100%;
  border-radius: 15px;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./images/Rectangle 5.png'), linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
  margin-bottom: 1rem;
}
.bonus-image-3{
  width: 100%;
  border-radius: 15px;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./images/Rectangle 6.png'),linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
  margin-bottom: 1rem;
}
.bonus-image-4{
  width: 100%;
  border-radius: 15px;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./images/Rectangle 7.png'),linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
  margin-bottom: 1rem;
}
.play-button-div{
  margin-top: -52px;
  width: 0;
  position: relative;
  bottom: 18.5rem;
  left: 170px;
  display: none;
}





/* bonus part area end */
/* play area start */
.play-area{
    display: flex;
    margin-top: 100px;
    align-items: center;
    text-align: center;
}
.play-area-content{
    width: 50%;
    margin-bottom: 16.3rem;
}

.play-instantly-style{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play-area-heading{
text-align: right;
font-size: 48px;
font-weight: 700;
line-height: 60px;
margin-right: 10rem;
}
.play-area-content .play-area-description{
  margin-right: 10.5rem;
  margin-left: 8rem;
color: #534C64;
text-align: right;
font-size: 1rem;
line-height: 30px;
}
.play-area-image{
    width: 50%;
}
.play-area-image img{
    display: block;
}
.play-area-image-one{
    width: 90%;
}
.play-area-image-two{
  width: 40%;
  border-radius: 10px;
  position: relative;
  bottom: 16.5rem;
  right: 6rem;
}
/* play area end */

/* games area start */
.games-flex{
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 1rem;
}
.games-image{
  width: 3rem;
  padding: 10px 0 10px 10px;
}
.games-h5{
margin: 1.25rem 0.3rem 1.25rem 0;
}


.games-area{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 5rem;
}

.games-border{
  border: 2px solid #fff;
  border-radius: 50px;
}
/* games area end */
/* footer area start */

footer{
  background: #0B0223;
  height: 85vh;
}
footer a:hover{
  color: #F948B2;
}
/* footer logo start */
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 4rem;
}
.footer-logo img {
  width: 5rem;
}
.footer-logo-h3 {
  color: #fff;
  font-family: Work Sans;
  font-size: 2.5rem;
  font-weight: 700;
}
/* footer logo end */
/* footer option start */
.footer-option{
  display: flex;
  justify-content: space-evenly;
  gap:0.5rem;
  margin: 3.2rem 12rem;
}
footer .footer-option-li{
  list-style: none;
}
.footer-option-li a{
text-decoration: none;
color: #fff;

}
/* footer option end */
/* footer icon start */
.footer-icon-area{
  display: flex;
  justify-content: center;
  gap:4rem;
}
.icons .fa-brands{
  color: #fff;
}
.fa-facebook{
  background-color: #1877F2;
  border-radius:10px ;
}
footer .fa-youtube{
 border-radius: 10px;
  background-color: red;
}
/* footer icon end */
/* policy area start */
.policy-area{
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 15rem 1rem ;
}
.policy-area li{
  list-style: none;
}
.policy-area a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.60);
}
/* policy area end */
/* footer description area start */
.footer-description p{
color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
margin-top: 5rem;
}
/* footer description area end */
/* footer area end */

/* responsive area start */
/* mobile devices responsive*/
@media screen and (max-width:480px) {
 nav, .nav-links{
  margin-top: 2rem;
  flex-direction: column;
 }
 .nav-logo{
  margin-bottom: 10px;
 }  
.nav-links{
  margin-bottom: 30px;
}
.follow-us-area {
  padding: 1rem 1rem;
}
.follow-us-area .fa-youtube {
  margin-left: 0.5rem;
}
.follow-us-area .fa-tiktok {
  margin-left: 0.5rem;
}

.banner-area{
  flex-direction: column-reverse;
  padding-left: 1rem;
  justify-content: center;
  position: relative;
  top: 10rem;
}
.banner-image{
  width: 100%
}
.banner-content{
  width: 100%
}
.banner-h3 {
  text-align: center;
  margin-top: 4rem;
}
.banner-h2{
  font-size: 6rem;
  text-align: center;
}
.pay-area,
.download-area,
.users-area {
  align-items: center;
margin-left: 2.3rem;
margin-bottom: 10px;
}
.sign-in{
  margin-left: 2.3rem;
}
.bonus-heading{
  text-align: center;
  margin: 13rem 1rem 1rem;
}
.bonus-area{
  flex-direction: column;
  width: 200%;
  margin-right: 900px;
}
.bonus-image-part{
  margin-bottom: 1.5rem;
}

.play-button-div{
  margin-top: 20%;
  width: 0;
  position: relative;
  bottom: 190px;
  left: 80px;
}
.bonus-description{
display: none;
}







.play-area{
  flex-direction: column;
}
.play-area-image{
  width: 90%;
}
.play-area-image .play-area-image-one{
  position: relative;
  left: 3rem;
  bottom: 5rem;
}
.play-area-image .play-area-image-two{
  position: relative;
  left: 0.5rem;
  bottom: 15rem;
}
.play-area-content{
  width: 100%;
}
.play-area-heading{
text-align: center;
font-size: 1.5rem;
position: relative;
top: 7rem;
font-weight: 700;
line-height: 2rem;
margin-right: 0;
}
.play-area-content .play-area-description{
width: 100%;
  position: relative;
top: 8rem;
margin-left: 0;
margin-right: 0;
text-align: center;
line-height: 1.5rem;
}
.games-area{
 display: grid;
 grid-template-columns: repeat(3, 0fr);
position: relative;
bottom: 11rem;
padding: 0 15px;
gap: 30px;
}
.games{
  padding-right: 20px;
}
.games-area img{
  width: 30%;
}
footer{
  height: 200vh;
}
.footer-option{
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 1rem 3rem;
  text-align: right;
  font-size: 600;
}
.footer-icon-area{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 2rem 6rem;
}
.policy-area{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  margin-left: 60px;
  margin-right: 15px;
  font-size: 13px;
}
.footer-description{
  margin-right: 6rem;
 margin-left: 5.6rem;
}
}
/* mobile devices responsive area end */
/* tablet devices responsive area start */
@media screen and (min-width:481px) and (max-width:768px) {
 nav, .nav-links{
  margin-top: 2rem;
  flex-direction: column;
 }
 .nav-logo{
  margin-bottom: 10px;
 }  
.nav-links{
  margin-bottom: 30px;
}
.follow-us-area {
  padding: 1rem 1rem;
}
.follow-us-area .fa-youtube {
  margin-left: 0.5rem;
}
.follow-us-area .fa-tiktok {
  margin-left: 0.5rem;
}

.banner-area{
  flex-direction: column-reverse;
  padding-left: 1rem;
  justify-content: center;
  position: relative;
  top: 10rem;
}
.banner-image{
  width: 100%
}
.banner-content{
  width: 100%
}
.banner-h3 {
  text-align: left;
  margin-left: 2.2rem;
  margin-top: 4rem;
}
.banner-h2{
  font-size: 6rem;
  text-align: left;
  margin-left: 2.2rem;
  margin-bottom: 1rem;
}
.pay-area,
.download-area,
.users-area {
  align-items: center;
margin-left: 2.3rem;
margin-bottom: 10px;
}
.sign-in{
  margin-left: 2.3rem;
}

.bonus-area{
  flex-direction: column;
  width: 200%;
  margin-right: 900px;
justify-content: center;
}
  .bonus-image-part{
  margin-bottom: 1.5rem;
  margin-left: 5em;
}
.bonus-heading{
  margin-top: 200px;
  text-align: center;
}
.bonus-description{
  display: none;
}

.play-button-div{
  margin-top: 20%;
  width: 0;
  position: relative;
  bottom: 230px;
  left: 165px;
}






.play-area{
  flex-direction: column;
}
.play-area-image{
  width: 85%;
}
.play-area-image .play-area-image-one{
  position: relative;
  left: 3rem;
  bottom: 5rem;
}
 .play-area-image-two{
  position: relative;
  bottom: 22rem;
  right: 8%;
}
.play-area-content{
  width: 55%;
}
.play-area-heading{
text-align: center;
font-size: 1.5rem;
position: relative;
top: 7rem;
font-weight: 700;
line-height: 2rem;
margin-right: 0;
}
.play-area-content .play-area-description{
width: 100%;
  position: relative;
top: 8rem;
margin-left: 0;
margin-right: 0;
text-align: center;
line-height: 1.5rem;
}
.games-area{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
position: relative;
bottom: 11rem;
}
footer{
  height: 100%;
}
.footer-option{
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 3rem 5rem;
  text-align: right;
  font-size: 600;
}
.footer-icon-area{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 2rem 17rem;
}
.policy-area{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  margin: 1rem 0 1rem 9rem;
  font-size: 13px;
}
.footer-description{
  margin-right: 6rem;
 margin-left: 5.6rem;
 padding-bottom: 10px;
}


}


/* tablet devices responsive area end */