@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
/* shared styles */
a:hover {
  color: #ff42a5;
  cursor: pointer;
}
button:hover{
    color: rgb(79, 79, 79);
    cursor: pointer;
}
.games:hover{
  border: 2px solid tomato;
  border-radius: 50px;
  color: rgb(255, 0, 255);
  cursor: pointer;
}

/* nav style start */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 6rem;
  height: 7rem;
  align-items: center;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-logo img {
  width: 5rem;
}
.nav-logo-h3 {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 2.5rem;
  font-weight: 700;
}
.nav-logo .g-style {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
}
.gray-style {
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
}
.follow-us-area {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 1rem 1.5rem;
}
.follow-us-area .fa-youtube {
  margin-left: 1.25rem;
  color: #f61c0d;
}
.follow-us-area .fa-tiktok {
  margin-left: 1rem;
}
/* nav end */

/* banner area  start*/
.banner-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6rem;
}

.banner-content {
  width: 50%;
  background-image: url('./images/Group 14.png');
}
.banner-h3 {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 600;
}
.banner-h2 {
  font-family: Work Sans;
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-paragraph {
  color: #534c64;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}

.pay-area,
.download-area,
.users-area {
  display: flex;
  gap: 10px;
}
.users-area .banner-paragraph {
  margin-left: -6px;
}
.sign-in {
  padding: 20px 40px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
}
.sign-up {
  padding: 20px 40px;
  border-radius: 48px;
  margin-left: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background: #4EC5F7;
  border: none;
}
.banner-image {
  width: 50%;
}
.banner-image img {
  width: 85%;
}

/* banner area end */

/* play area start */
.play-area{
    display: flex;
    margin-top: 100px;
    align-items: center;
    text-align: center;
}
.play-area-content{
    width: 50%;
    margin-bottom: 16.3rem;
}

.play-instantly-style{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play-area-heading{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
margin-right: 10rem;
}
.play-area-content .play-area-description{
  margin-right: 10.5rem;
  margin-left: 8rem;
color: #534C64;
text-align: right;
font-size: 1rem;
line-height: 30px;
}
.play-area-image{
    width: 50%;
}
.play-area-image img{
    display: block;
}
.play-area-image-one{
    width: 80%;
}
.play-area-image-two{
  width: 40%;
  border-radius: 10px;
  position: relative;
  bottom: 14.5rem;
  right: 7rem;
}
/* play area end */

/* games area start */
.games-flex{
  display: flex;
  align-items: center;
  gap: 23px;
  margin-bottom: 1rem;
}
.games-image{
  width: 3rem;
  padding: 10px 0 10px 10px;
}
.games-h5{
margin: 1.25rem 0.3rem 1.25rem 0;
}


.games-area{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 5rem;
}
.games-border{
  border: 2px solid #fff;
  border-radius: 50px;
}
/* games area end */